services:
  minio:
    container_name: minio
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_REGION: eu-central-1
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  valkey:
    container_name: valkey
    image: valkey/valkey:9-alpine
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    volumes:
      - ./valkey_config/valkey.conf:/etc/valkey/valkey.conf
      - valkey_data:/data
    command: valkey-server /etc/valkey/valkey.conf

  postgres:
    container_name: postgres
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d postgres -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    depends_on:
      postgres:
        condition: service_healthy
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@example.com
      PGADMIN_DEFAULT_PASSWORD: pgadmin
      PGADMIN_LISTEN_PORT: 8888
      PGADMIN_DISABLE_POSTFIX: true
      GUNICORN_ACCESS_LOGFILE: "/dev/null"
    ports:
      - "8888:8888"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - ./pgadmin_config/servers.json:/pgadmin4/servers.json
      - ./pgadmin_config/preferences.json:/pgadmin4/preferences.json

  minio-init:
    container_name: minio-init
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minioadmin
      S3_ACCESS_KEY: KVDqxwkTPkfro3XMktkU
      S3_SECRET_KEY: BIC22YgQLIugmbwLO1cG9A24dGRLotiSaEQCcMM9
      S3_BUCKET: asset
      S3_API_URL: http://localhost:9000
    entrypoint: bash ./init.sh
    volumes:
      - ./minio_init.sh:/init.sh

volumes:
  minio_data:
  postgres_data:
  pgadmin_data:
  valkey_data:
