name: Exporters - deploy

on:
  push:
    paths:
      - "monitoring/exporter/docker-compose.yml"
      - ".github/workflows/exporter.yml"
    branches:
      - "master"
      - "main"

jobs:
  deploy:
    strategy:
      matrix:
        runner: [exporter]

    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v5

      - name: Create exporter folder
        run: |
          mkdir -p ~/exporter

      - name: Copy files
        run: |
          cp ./monitoring/exporter/docker-compose.yml ~/exporter/docker-compose.yml

      - name: Update and run compose
        run: |
          cd ~/exporter
          docker compose pull && docker compose up -d

      - name: Prune docker
        run: |
          docker system prune -f
